@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-primary: hsl(256 96% 66%);
	--color-background: hsl(250 100% 99%);
	--color-unity-50: #f3f0ff;
	--color-unity-100: #ebe5ff;
	--color-unity-200: #d9cfff;
	--color-unity-300: #bfacff;
	--color-unity-400: #a280ff;
	--color-unity-500: #8b5cf6;
	--color-unity-600: #7c3aed;
	--color-unity-700: #6d28d9;
	--color-unity-800: #5b21b6;
	--color-unity-900: #4c1d95;
	--color-unity-950: #2e1065;

	--color-muted-foreground: hsl(256 10% 40%);
	--color-foreground: hsl(250 10% 10%);
	--color-popover: hsl(0 0% 100%);
	--color-popover-foreground: hsl(250 10% 10%);
	--color-sidebar: hsl(256 40% 20%);
}

body {
	background: var(--background);
	color: var(--color-foreground);
	font-family: Arial, Helvetica, sans-serif;
}
